*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.slider1{
    aspect-ratio: 5/2;
}

.about1{
   height: 100%;
   width: 100%;
   border-radius: 10px;
}
.about1:hover{
    transform: scaleX(-1);
}
.abouttext{
    text-align: justify;
    text-align: center;
}
.card1{
    aspect-ratio: 2/1;
    transition: .5s ease;
}
.feed1{
    aspect-ratio: 5/2;
}
.form1{
    height: 95%;
    width: 80%;
}
.room1{
    aspect-ratio: 5/3;
}
.bg-img{
    background-image: linear-gradient(rgba(93, 87, 87, 0.6) ,rgba(55, 53, 53, 0.9)) , url(../img/bg-3.jpg);
    background-size: cover;
    overflow: hidden;
    background-repeat: no-repeat;
}